[Desktop Entry]
Type=Application
Exec=flatpak run top.spelunk.kwallpaper
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=kwallpaper
Comment=Start kwallpaper scheduler on login
