[Desktop Entry]
Name=KDE Wallpaper Changer
Comment=Automatically change KDE Plasma wallpapers based on time-of-day
Exec=wallpaper-gui
Icon=preferences-desktop-wallpaper
Type=Application
Categories=Utility;DesktopSettings;KDE;
Keywords=kde;plasma;wallpaper;changer;time-of-day;
StartupNotify=true
Terminal=false
